.modal-confirm{


    //width: 40vw !important; 
    //max-width: 500px !important; 
    height: auto !important; 
    max-height: 50vh !important; 
    position: fixed !important;
    top: 50% !important; 
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 1000 !important;
    background: white !important;
    padding: 20px !important;
    border-radius: 0px !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;

    border-radius: 0 !important;

    .header{
        text-align: center;
    }

    .actions{
        display: flex;
        padding: 0 !important;
        border: 0 !important;
        margin-bottom: 10px;

        .ui.button{
            
            width: 50% ;
            margin: 0 !important;
            border-radius: 0;
            height: 50px;
        }
    }
}