.table-prouct-admin{
    td{
        .ui.image{
            width: 80px ;
            height: 80px ;
        }

        &.status{
            .icon{
                &.close{
                    color: #f00;
                }

                &.check{
                    color: green;
                }
            }
        }

        &.status1{
            .icon{
                &.close{
                    color: #f00;
                }

                &.check{
                    color: green;
                }
            }
        }
    }
}