.table-admin{
    position: relative;
    flex : 0 1 20%;
    display: flex;
    //padding: 0 10px;
    flex-direction: column;
    align-items: center;
    &:hover{
        cursor: pointer;
        opacity: 0.5;
    }
    
    .ui.label{
        margin: 0;
        font-size: 20px;
        position: absolute;
        top: 30px;
        
    }

    svg{
        
        height: 190px;
        width: 190px;
        //margin-left: 10px;

        &.busy{
            fill: orange;
        }
        &.pending{
            fill: #0094e3;
        }

        &.pending-payment{
            fill: red;
        }
    }

    
}